@import 'tailwindcss';
@theme {
  --color-lagoon: oklch(0.72 0.11 221.19);
  --color-coral: oklch(0.74 0.17 40.24);
  --color-driftwood: oklch(0.79 0.06 74.59);
  --color-tide: oklch(0.49 0.08 205.88);
  --color-dusk: oklch(0.82 0.15 72.09);
}

.light {
  --background: 245, 245, 245;

  --border: 212, 212, 212;
  --card: 255, 255, 255;

  --copy-primary: 23, 23, 23;
  --copy-secondary: 115, 115, 115;

  --cta: 139, 92, 246;
  --cta-active: 124, 58, 237;
  --cta-text: 255, 255, 255;

  background: rgba(var(--background));
}

.dark {
  --background: 0, 0, 0;

  --border: 38, 38, 38;
  --card: 23, 23, 23;

  --copy-primary: 250, 250, 250;
  --copy-secondary: 115, 115, 115;

  --cta: 99, 102, 241;
  --cta-active: 79, 70, 229;
  --cta-text: 255, 255, 255;

  background: rgba(var(--background));
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
