@import 'tailwindcss';
@theme static {
  --color-background: rgba(255, 255, 255, 1);
  --color-primary: rgba(7, 113, 237, 1);
  --color-secondary: rgba(237, 131, 7, 1);

  /* blue */
  --color-blue-main: rgba(1, 114, 222, 1);
  --color-blue-light: rgba(223, 239, 255, 1);
  --color-blue-dark: rgba(96, 177, 254, 1);

  /* orange */
  --color-orange-main: rgba(222, 54, 1, 1);
  --color-orange-light: rgba(255, 231, 223, 1);
  --color-orange-dark: rgba(254, 134, 96, 1);

  /* black */
  --color-black-main: rgba(23, 31, 38, 1);
  --color-black-dark: rgba(203, 203, 203, 1);
  --color-black-light: rgba(7, 113, 237, 1);

  /* white */
  --color-white-main: rgba(255, 255, 255, 1);
  --color-white-light: rgba(242, 242, 242, 1);
  --color-white-dark: rgba(237, 237, 237, 1);

  /* error */
  --color-error-main: rgba(255, 242, 242, 1);
  --color-error-light: rgba(237, 46, 46, 1);
  --color-error-dark: rgba(195, 0, 0, 1);

  /* warning */
  --color-warning-main: rgba(255, 248, 225, 1);
  --color-warning-light: rgba(244, 183, 64, 1);
  --color-warning-dark: rgba(169, 121, 28, 1);

  /* success */
  --color-success-main: rgba(243, 253, 250, 1);
  --color-success-light: rgba(0, 186, 136, 1);
  --color-success-dark: rgba(0, 150, 109, 1);
}
@layer base {
  .dark {
    --color-background: rgba(23, 31, 38, 1);
    --color-primary: rgba(96, 177, 254, 1);
    --color-secondary: rgba(254, 134, 96, 1);

    /* blue */
    --color-blue-main: rgba(96, 177, 254, 1);
    --color-blue-light: rgba(1, 114, 222, 1);
    --color-blue-dark: rgba(0, 82, 160, 1);

    /* orange */
    --color-orange-main: rgba(254, 134, 96, 1);
    --color-orange-light: rgba(222, 54, 1, 1);
    --color-orange-dark: rgba(150, 30, 0, 1);

    /* black */
    --color-black-main: rgba(255, 255, 255, 1);
    --color-black-dark: rgba(203, 203, 203, 1);
    --color-black-light: rgba(169, 169, 169, 1);

    /* white */
    --color-white-main: rgba(38, 45, 52, 1);
    --color-white-light: rgba(45, 52, 60, 1);
    --color-white-dark: rgba(60, 67, 75, 1);

    /* error */
    --color-error-main: rgba(195, 0, 0, 1);
    --color-error-light: rgba(237, 46, 46, 1);
    --color-error-dark: rgba(120, 0, 0, 1);

    /* warning */
    --color-warning-main: rgba(169, 121, 28, 1);
    --color-warning-light: rgba(244, 183, 64, 1);
    --color-warning-dark: rgba(100, 70, 20, 1);

    /* success */
    --color-success-main: rgba(0, 150, 109, 1);
    --color-success-light: rgba(0, 186, 136, 1);
    --color-success-dark: rgba(0, 120, 90, 1);
  }

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
